@import '99-Credits-3a8fa602.css';a.svelte-7mn6z7{color:#333333}
.sections.svelte-1r9a5fm{margin-left:7rem;margin-right:2rem}@media only screen and (max-width: 600px){.sections.svelte-1r9a5fm{margin-left:2rem;margin-right:2rem}}@media only screen and (min-width: 600px){.sections.svelte-1r9a5fm{margin-left:7rem;margin-right:2rem}}
