a.svelte-7mn6z7{color:#333333}
.sections.svelte-z1pa2y{margin-left:3rem;margin-right:2rem}@media only screen and (max-width: 600px){.sections.svelte-z1pa2y{margin-left:2rem;margin-right:2rem}}@media only screen and (min-width: 600px){.sections.svelte-z1pa2y{margin-left:3rem;margin-right:2rem}}
